/* Sidebar.css adjustments for consistent nav link hover and active states */
.sidebar {
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(145deg, #6e48aa, #9d50bb); /* Aesthetic gradient background */
  color: #FFF;
  box-shadow: 2px 0 12px rgba(0,0,0,0.6);
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Improved typography */
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li {
  transition: background 0.3s ease;
}
.sidebar-header {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  padding: 20px; /* Add some padding around the logo */
  border-bottom: 1px solid #ebedef; /* Optional: add a separator between logo and nav items */
}

.sidebar-logo {
  max-width: 70%; /* Adjust the size as needed */
  height: auto; /* Maintain the aspect ratio of the logo */
  filter: invert(100%) brightness(300%); /* Invert the colors and increase brightness */
  transform: scale(1.3); /* Scale up the logo slightly */
}



.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 25px 40px;
  transition: background-color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  background-color: rgba(255, 255, 255, 0.3); /* Consistent background for hover and active states */
  transform: scale(1.05); /* Zoom effect */
  font-weight: 800; /* Make text slightly bold */
  border-radius: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-link {
  display: flex; /* Change display to flex */
  align-items: center;
  padding: 20px 36px;
  transition: background-color 0.3s ease;
}

.nav-link .fa-icon {
  margin-left: auto; /* Push the icon to the right */
}
.nav-link.active .fa-icon {
  color: #FFF;
  transition: color 0.3s ease;
  animation: pulseAnimation 1s ease infinite; 
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
   
  }
  50% {
    transform: scale(1.1);
    
  }
  100% {
    transform: scale(1);
 
  }
}


@keyframes iconAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}



/* Adjust the content margin to not overlap with the sidebar */
.app-content {
  margin-left: 300px; /* Adjust based on sidebar width */
}

@media (max-width: 768px) {
  .sidebar {
      width: 100px; /* Smaller sidebar for mobile devices */
  }

  .nav-link, .fa-icon {
      font-size: 12px; /* Smaller font size for mobile */
  }

  .nav-link .fa-icon {
      margin-right: 5px; /* Smaller space between icon and text for mobile */
  }

  .app-content {
      margin-left: 100px; /* Adjust based on mobile sidebar width */
  }
}
