.dashboard {
padding: 8px 15px 4px 25px;
  background-color: #fffffff4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align to the start to accommodate for the sidebar */
}

.dashboard-title {
  font-size: 2.5rem;
  color: #4a4a4a;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 100%; /* Ensure the title spans the full width */
}

.dashboard-cards {
  display: flex;
  justify-content: flex-start; /* Align cards to the start */
  align-items: center; /* Center items vertically */
  width: calc(100% - 250px); /* Adjust the width to account for the sidebar */
  gap: 40px;
}
.card h2 { 
  color :white
} 
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 200px;
  padding: 20px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 0 0 auto; /* Do not grow or shrink */
  width: 300px; /* Fixed width for each card */
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.366);
}


.card.lightsail { background-color: #4e8cff; }
.card.monolith { background-color: #ff7e67; }
.card.highly-available { background-color: #ffbc42; }

/* ... Other styles ... */

/* Responsive Design */
@media (max-width: 1200px) {
  .card {
    flex-basis: calc(50% - 40px); /* adjust size for medium screens */
    max-width: calc(50% - 40px); /* adjust size for medium screens */
  }
}

@media (max-width: 1000px) {
  .dashboard {
    padding: 20px; /* Adjust padding for smaller screens */
  }
  .dashboard-cards {
    flex-direction: column;
    width: auto; /* Full width for smaller screens */
  }
  .card {
    width: auto; /* Full width for smaller screens */
    margin-bottom: 20px;
  }
}
